certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==2.1.2
Flask-Session==0.3.1
gunicorn==20.1.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.0
psycopg2==2.8.3
requests==2.20.0
SQLAlchemy==1.4.36
urllib3==1.24.2
Werkzeug==2.1.2
gevent==2.7.9
passlib==1.7.4
